<div id="help_line">
<span class="help_toggle"><i id="f" class="fa fa-volume-control-phone"></i>Get Help</span>
<div id="hots">
    <p class="header_2"><a href="" id="hotline">IMMEDIATE HELP &amp; SUPPORT</a></p>
    <p class="subheader_2">If you need immediate information you can call one of these 24-hour toll-free hotlines.</p>
    <ul>
      {% for item in site.data.hotlines %}
        <li class="heads">{{item.name}}</li>
        <li class="number">{{item.number}}</li>
      {% endfor %}
    </ul>
  </div>
</div>
