<script>
(function() {
  // visual grid: use 'g' key to toggle body class
  var k = new Kibo();
  k.down(['g'], function() {
    $('body').addClass('grid');
  }).up('g', function() {
    $('body').removeClass('grid');
  });

  // enquire: media queries, but for javascript
  enquire.register("screen and (max-width: 48em)", {
    match : function() {
      console.log('up to 768px wide')
    },
    unmatch : function() {
    }
  })
  .register("screen and (min-width: 48.1em)", {
    match : function() {
      console.log('over 768px wide')
    },
    unmatch : function() {
    }
  });
})();
</script>
