.franklin-gothic-book {
  font-family: FranklinGothicURW-Boo;
  font-weight: normal;
  font-style: normal;
}

.franklin-gothic-bold {
  font-family: FranklinGothicURW-Dem;
  font-weight: normal;
  font-style: normal;
}

.shiftbold {
  font-family: Shift;
  font-style: normal;
  font-weight: bold;
}

.shiftbook {
  font-family: Shift;
  font-style: normal;
  font-weight: normal;
}

.shiftbookitalic {
  font-family: Shift;
  font-style: italic;
  font-weight: normal;
}
