$brown-basic: #3b3d36;
$brown-light: #535449;
$yellow-basic: #ffd275;
$yellow-dark: #ffc500;
$green-basic: #689700;
$gray-basic: #d2d2cb;
$link-basic: #82806e;

$hero-head: #2b2c23;
// $hero-subhead: #82806e;
$hero-subhead: #fff;
$text: #191919;
$sidebar-bg: #f4f4f2;
$sidebar-links: #82816f;
// $sub-sidebar-links: #82816f;
