// neat's visual-grid is 100% of $max-width

// if your containing elements have margin on screens
// below $max-width, set the max-width of the visual-grid
// here to match

body:before {
  @include media($s-up) {
    max-width: calc(100% - 2rem);
  }
  @include media($l-up) {
    max-width: $max-width;
  }
}