---
layout: default
title: Home
class: home
hotlines_sidebar: false
sidebar_one: false
sidebar_two: false
sidebar_three: false
sidebar_four: false
og_image_path: /uploads/facebook-home.jpg
---

<main class="load">

  <section class="hero">
    <div class="container">
      <h1>{{ site.title}}</h1>
      <h2 class="editable">Clinical psychologist and independent consultant, Teaching Associate in Psychology, Harvard Medical School, and nationally recognized expert on psychological trauma.</h2>
    </div>
  </section>

  <section class="intro">
    <div class="container">
      <div class="editable copy">
        <p>Welcome.</p>
        <p>My research, clinical work, teaching and consultation have focused on the psychological and biological effects of child abuse and sexual assault, and on contemplative practices for healing, including meditation.</p>
        <p>I consult to clients and teach a variety of professionals on trauma, healing and seeking justice, including the neurobiology of trauma and its implications for the law enforcement and criminal justice systems, the unique impacts of sexual trauma on boys and men, and contemplative methods in the healing of trauma.</p>
        <p>I regularly advise and train civilian and military investigators and prosecutors, victim advocates, university administrators and senior officers of the United States military services and Department of Defense. My nonprofit and policy work have included being a founding board member and long-time advisor of 1in6, and serving on the Peace Corps Sexual Assault Advisory Council.</p>
        <p>Finally, as you can see on this extensive website, I like to share my knowledge and insights, as much as possible, for free.</p>
      </div>
      <div></div>
      <div class="hide-s hide-m show-l">
        {% if page.hotlines_sidebar == true %}
          {% include hotlines.html %}
        {% endif %}
        {% if page.sidebar_one %}
          <div class="custom_sidebar first">
            <div class="sidebar__inner editable">
              <p class="sidebar__header">Sidebar</p>
              <p>Edit this text</p>
            </div>
          </div>
        {% endif %}

        {% if page.sidebar_two %}
          <div class="custom_sidebar">
            <div class="sidebar__inner editable">
              <p class="sidebar__header">Sidebar</p>
              <p>this is content inside a sidebar </p>
            </div>
          </div>
        {% endif %}

        {% if page.sidebar_three %}
          <div class="custom_sidebar">
            <div class="sidebar__inner editable">
              <p class="sidebar__header">Sidebar</p>
              <p>this is content inside a sidebar </p>
            </div>
          </div>
        {% endif %}

        {% if page.sidebar_four %}
          <div class="custom_sidebar">
            <div class="sidebar__inner editable">
              <p class="sidebar__header">Sidebar</p>
              <p>this is content inside a sidebar </p>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </section>

  <section class="topics">
    <div class="container">
      <h2>Topics</h2>
      <div class="topic-wrapper">
        <div class="topic topic__full">
          <div class="header">
            <a href="/child-abuse/overview"><img alt="" src="/assets/images/bear.png" />
            <h4 class="editable">Unwanted or Abusive Childhood Experiences</h4><i class="hide-m fa fa-caret-right"></i></a>
          </div>
          <p class="editable description hide-s">This is the most comprehensive section of the site, with a wealth of information and resources on unwanted and abusive childhood experiences, including special sections on consequences of child abuse and recovered memories of sexual abuse.</p>
            <a href="/child-abuse/overview">
              <button class="hide-s nolink"><p>LEARN MORE</p></button>
            </a>
        </div>
      </div>

      <div class="topic-wrapper">
        <div class="topic topic__half">
          <div class="header">
            <a href="/sexual-assault-and-the-brain"><img alt="" src="/assets/images/bandage.png" />
            <h4 class="editable">Sexual Assault &amp; the Brain</h4><i class="hide-m fa fa-caret-right"></i></a>
          </div>
          <p class="editable description hide-s">Brain-based reasons why many victims don't fight or yell and have fragmentary memories. Includes links to writings, videos, handouts and other resources for working with people who've been sexually assaulted.</p>
            <a href="/sexual-assault-and-the-brain">
              <button class="hide-s nolink"><p>LEARN MORE</p></button>
            </a>
        </div>
        <div class="topic topic__half">
          <div class="header">
            <a href="/brain-healing-and-happiness/overview"><img alt="" src="/assets/images/brain.png" />
            <h4 class="editable">Brain, Healing &amp; Happiness</h4><i class="hide-m fa fa-caret-right"></i></a>
          </div>
          <p class="editable description hide-s">A model of key brain circuitries that's grounded in neuroscience, fits with our lived experience, and is a powerful tool for understanding and transforming basic cycles of suffering, healing and happiness.</p>
            <a href="/brain-healing-and-happiness/overview">
              <button class="hide-s nolink"><p>LEARN MORE</p></button>
            </a>
        </div>
      </div>

      <div class="topic-wrapper">
        <div class="topic topic__half">
          <div class="header">
            <a href="/mindfulness-and-meditation/overview"><img alt="" src="/assets/images/lotus.png" />
            <h4 class="editable">Mindfulness &amp; Meditation</h4><i class="hide-m fa fa-caret-right"></i></a>
          </div>
          <p class="editable description hide-s">Information about mindfulness, kindness and compassion, as well as resources for learning to cultivate these qualities with meditation and other contemplative practices.</p>
            <a href="/mindfulness-and-meditation/overview">
              <button class="hide-s nolink"><p>LEARN MORE</p></button>
            </a>
        </div>
        <div class="topic topic__half">
          <div class="header">
            <a href="/healing-resources/overview"><img alt="" src="/assets/images/heart.png" />
            <h4 class="editable">Healing Resources</h4><i class="hide-m fa fa-caret-right"></i></a>
          </div>
          <p class="editable description hide-s">Key information about what brings healing and happiness, including which kinds of personal and therapy relationships, and resources for finding and evaluating therapists.</p>
            <a href="/healing-resources/overview">
              <button class="hide-s nolink"><p>LEARN MORE</p></button>
            </a>
        </div>
      </div>
    </div>
  </section>

  <section class="mobile-sidebar show-s show-m hide-l">
    <div class="container">
      {% if page.hotlines_sidebar == true %}
        {% include hotlines.html %}
      {% endif %}
      {% if page.sidebar_one %}
        <div class="custom_sidebar first">
          <div class="sidebar__inner editable">
            <p class="sidebar__header">Sidebar</p>
            <p>Edit this text</p>
          </div>
        </div>
      {% endif %}

      {% if page.sidebar_two %}
        <div class="custom_sidebar">
          <div class="sidebar__inner editable">
            <p class="sidebar__header">Sidebar</p>
            <p>this is content inside a sidebar </p>
          </div>
        </div>
      {% endif %}

      {% if page.sidebar_three %}
        <div class="custom_sidebar">
          <div class="sidebar__inner editable">
            <p class="sidebar__header">Sidebar</p>
            <p>this is content inside a sidebar </p>
          </div>
        </div>
      {% endif %}

      {% if page.sidebar_four %}
        <div class="custom_sidebar">
          <div class="sidebar__inner editable">
            <p class="sidebar__header">Sidebar</p>
            <p>this is content inside a sidebar </p>
          </div>
        </div>
      {% endif %}
    </div>
  </section>




</main>



