---
class: services topic
title: Professional Services
custom_title:
sidebar_one: false
sidebar_two: true
sidebar_three: false
sidebar_four: false
permalink: /services/
og_image_path: /uploads/facebook-home.jpg
---

<main>

  <section class="hero page">
    <div class="container">
      <div class="inner-wrapper">
        {% assign customTitleSize = page.custom_title | size %}
        {% if customTitleSize > 0 %}
        <h1>{{page.custom_title}}</h1>{% else %}<h1>{{page.title}}</h1>{% endif %}
      </div>
    </div>
  </section>

  {% if page.imagepath %}
    <div class="container">
      <img class="jim" src="{{ page.imagepath }}" alt="" />
    </div>
  {% endif %}

  <section class="article">
    <div class="container">
      <div class="copy editable">
        <h2>Forensic Consultation</h2>
        <p>I provide forensic services on cases involving <a href="/child-abuse/overview/">child abuse trauma</a>, <a href="/sexual-assault-and-the-brain/">sexual assault</a>, PTSD, mitigation, <a href="/child-abuse/recovered-memories/">recovered memories</a> and other issues.</p>
        <p>Services include assessment of clients, report/declaration writing, and trial testimony. Capital and sexual assault cases are a specialty.</p>
        <p>I am very good at communicating expert knowledge and opinions in written and spoken language that is lucid and compelling to attorneys, judges and jury members. References are available upon request.</p>
        <p class="service"><a href="mailto:drhopper@jimhopper.com">Contact for Service</a></p>
        <hr />
        <h2>Talks and Trainings</h2>
        <p>As a highly engaging and interactive presenter, I communicate very effectively with therapists and other professionals who serve or encounter traumatized people in their work, including police officers, victim advocates, attorneys, university administrators and commanding officers in the military.</p>
        <p>The feedback I get includes words and phrases like 'captivating,' 'highly effective,' 'enlightening,' 'extremely helpful' and 'transformative.' References are available upon request.</p>
        <p>I give talks and training on a variety of topics, mostly related to sexual assault and child abuse trauma, including:</p>
        <ul>
          <li>The neurobiology of trauma and sexual assault. That is, how brain responses to sexual assault shape victims&rsquo; <a href="http://www.washingtonpost.com/news/grade-point/wp/2015/06/23/why-many-rape-victims-dont-fight-or-yell/">experiences, behaviors</a> and <a href="http://time.com/3625414/rape-trauma-brain-memory/">memories</a>, and the implications for eliciting accurate memories and testimony. To see how I present on this, here&rsquo;s a <a href="https://www.youtube.com/watch?v=dwTQ_U3p5Wc">video of a 2-hour training</a></li>
          <li>The unique experiences and challenges of traumatized men, especially men with histories of childhood sexual abuse or adult sexual assault, and the implications for outreach and providing treatment.</li>
          <li>Brain processes involved in mindfulness, meditation and other contemplative practices, and how they can benefit therapists and their clients.</li>
        </ul>
        <p>All talks and training incorporate an engaging mix lectures, video and other media, and when time permits, discussion and activities that promote experiential learning.</p>
        <p class="service"><a href="mailto:drhopper@jimhopper.com">Contact for Service</a></p>
        <hr />
        <h2>Clinical Consultation</h2>
        <p>I work with male and female adults (18 or older), as well as their family members, and specialize in childhood abuse, sexual assault and other traumas.</p>
        <p>Currently I provide time-limited telephone or Skype consultation. That is, I offer knowledge, insights, and interventions that either (a) help people to find good local treatment for themselves or a loved one, or (b) briefly complement ongoing therapy (in cooperation with that therapist). These services do not require living anywhere in particular or meeting with me in person (international Skype calls are an option).</p>
        <p>My clinical consultation clients include people in early to later stages of healing, who are seeking help with a variety of issues, including:</p>
        <ul>
          <li>Understanding their unique needs and treatment options</li>
          <li>Emotion awareness and regulation skills</li>
          <li>Addiction</li>
          <li>Relationship difficulties</li>
          <li>Traumatic memories</li>
          <li>Safely engaging in meditation, yoga and other contemplative practices</li>
        </ul>
        <p>I draw on many theories and methods of treatment, including the 'stage model' of trauma treatment, mindfulness-based and other contemplative approaches, cognitive-behavioral interventions, and the Internal Family Systems Model (IFS). All of my theoretical understandings and treatment approaches are informed by wide-ranging knowledge of treatment and scientific advances, including my own research.</p>
        <p class="service"><a href="mailto:drhopper@jimhopper.com">Contact for Service</a></p>
        <div class="share">
          <!--base32-40y62838e9jpcf92dngpjv3mdwx3ywvnc9n6arvm7mg7r82ge9qpctbkedmpyvk1dgg56tbjetmp6tbk48z3ru90cdp62wvk7mh6cr90ctgjutbeetjprvvgcmh20rbjd5gjuu39chj6avhx49u74xb548z3rbv97rg6avb1d5p20-base32--><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=www.jimhopper.com/services/"><i class="fa fa-facebook" aria-hidden="true"></i> share</a> <a target="_blank" href="https://twitter.com/share?url=http://www.jimhopper.com/services/&amp;text= &gt; Professional Services"><i class="fa fa-twitter" aria-hidden="true"></i> tweet</a></div>
      </div>

      {% if page.sidebar_one %}
        <div class="custom_sidebar first">
          <div class="sidebar__inner editable"><p class="sidebar__header">Kripalu here?</p><p>Or could link to a Google Calendar showing my presentations.</p></div>
        </div>
      {% endif %}

      {% if page.sidebar_two %}
        <div class="custom_sidebar">
          <div class="sidebar__inner editable"><p class="sidebar__header">Curriculum vitae</p><p>Updated every three months, including most recent trainings.</p><p><a href="/pdf/DrJimHopperCV.pdf">Download</a></p></div>
        </div>
      {% endif %}

      {% if page.sidebar_three %}
        <div class="custom_sidebar">
          <div class="sidebar__inner editable">
            <p class="sidebar__header">Sidebar</p>
            <p>this is content inside a sidebar </p>
          </div>
        </div>
      {% endif %}

      {% if page.sidebar_four %}
        <div class="custom_sidebar">
          <div class="sidebar__inner editable">
            <p class="sidebar__header">Sidebar</p>
            <p>this is content inside a sidebar </p>
          </div>
        </div>
      {% endif %}

    </div>
  </section>


  <section class="suggested">
    <div class="container">
      <div class="suggestions">

          <div class="prev">
          {% if prevurl %}
          <div class="prev-inner">
            <a href="{{prevurl}}">
              <p class="prev__header"> <i class="fa fa-chevron-left" aria-hidden="true"></i>
Previous</p>
              <p class="prev__title">{{ prevTitle }}</p>
            </a>
          </div>
          {% endif %}
          </div>

          <div class="next">
          {% if nexturl %}
          <div class="next-inner">
            <a href="{{nexturl}}">
              <p class="next__header">Next <i class="fa fa-chevron-right" aria-hidden="true"></i></p>
              <p class="next__title">{{ nextTitle }}</p>
            </a>
          </div>
          {% endif %}
          </div>

      </div>

    </div>
  </section>



</main>



